# sbt
.bsp/
version.sbt

# yarn
node_modules/

# build targets
target/
tmp/
/js/bundle/src/versions.ts
/js/cli/src/dependencies/versions.ts
/js/jvm-types/index.js
/js/jvm-types/index.d.ts

# IntelliJ
*.iml
.idea/

# Gatling run results
results/
