name: Build

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      JAVA_OPTS: "-Xmx4G"
      SBT_OPTS: "-Dsbt.ci=true"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'

      - name: Set up sbt
        uses: sbt/setup-sbt@v1

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Build JS polyfills
        working-directory: ./polyfills
        run: |
          npm ci
          npm run format-check
          npm run build

      - name: Build JVM projects
        working-directory: ./jvm
        run: |
          sbt \
            "project gatling-jvm-to-js-adapter" \
            headerCheckAll \
            spotlessCheck \
            scalafmtCheckAll \
            "scalafixAll --check" \
            compile \
            test

      - name: Build JS projects
        working-directory: ./js
        run: |
          npm ci
          npm run format-check --workspaces
          npm run build --workspaces
